<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- external css -->
    <link rel="stylesheet" href="../assets/css/demo.css">

    <title>Carlux | Demo</title>
  </head>
  <body>
    
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <a class="nav-logo navbar-brand d-flex justify-content-center align-items-center" href="#">
            <img src="../assets/images/logo.png" width="70" height="50" class="d-inline-block align-top" alt="Logo">
            <p class="mt-3">Carlux</p>
        </a>
          
        
        <div class="collapse navbar-collapse ml-5" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#"> Back to Home </a>
              </li>
            </ul>
        </div>
    </nav>
    
    
    <main style="margin-top: 120px;">
        <div id="girl-pic">

        </div>
        <div id="vase-pic">

        </div>
        <div class="form-container col-11 col-sm-9 col-md-6 col-lg-4 mx-auto bg-light shadow pt-5 pb-5 mb-5">
            <!-- form heading -->
            <header class="col-12 mx-auto mb-5">
                <h2 class="col-12 mx-auto" style="text-align: center;">Book A Demo ?</h2>
            </header>
            <div class="">
                <form action="" method="POST">

                    <div class="border-bottom col-10 mx-auto mb-4 mt-4">
                        <input class="border-0 col-12 row shadow-none" type="text" name="name" placeholder="Your Name*" required>
                    </div>
                    <div class="border-bottom col-10 mx-auto mb-4 mt-4">
                        <input class="border-0 col-12 row shadow-none" type="number" name="contact" placeholder="Your Contact*" required>
                    </div>
                    <div class="col-10 mx-auto">
                        <h5 class="text-primary">
                            Choose Your Vehicle Type:
                        </h5>
                        <div>
                            <div>
                                <input id="two-wheeler" type="radio" value="two-wheeler" name="vehicle" required>
                                <label for="two-wheeler">Two Wheeler: Rs. 70/-</label>
                            </div>
                            <div>
                                <input id="four-wheeler" type="radio" value="four-wheeler" name="vehicle" required>
                                <label for="four-wheeler">Four Wheeler: Rs. 100/-</label>
                            </div>
                        </div>
                        <small>
                            <a class="text-info" href="">Click to check Plan Details</a>
                        </small>
                    </div>
                    <div class="border-bottom col-10 mx-auto mb-4 mt-4">
                        <input class="border-0 col-12 row shadow-none" type="text" name="address" placeholder="Full Address*" required>
                    </div>
                    <div class="border-bottom col-10 mx-auto mb-4 mt-4">
                        <input class="border-0 col-12 row shadow-none" type="text" name="vehicle-number" placeholder="Vehicle Number*" required>
                    </div>

                    <!-- put code here (for development) -->
                    <div>
                        <input type="hidden" name="code" value="" required>
                    </div>
                    <div class="col-10 mx-auto">
                        <small class="text-muted">An Agent will contact you and verify your details under 24 hours.</small><br>
                        <small class="text-muted">Please Keep below code with you (screenshot this maybe) and ask agent this code for your security purposes.</small> <br>
                        <small class="text-danger"><strong>Note: The code will disappear once you click the button below. You cannot generate this again.</strong></small>
                        <p class="text-success">Your Code: <span>XXXXXXXXXX</span></p>
                    </div>
                    
                    
                    <div class="col-10 mx-auto" style="text-align: center;">
                        <button class="col-10 btn btn-primary" type="submit">Book Now</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </main>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
</html>