/* globals */
body{
    background-color: #ACCFFE;
}

/* for number input field to remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#girl-pic{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('../images/cartoon-girl.png');
    background-repeat: no-repeat;
    left: 18%;
    z-index: 2;
}
#vase-pic{
    position: fixed;
    background-image: url('../images/cartoon-vase.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    left: 65%;
    top: 57%;
}

@media screen and (max-width: 1000px){
    #girl-pic{
        left: 5%;
    }
}

@media screen and (max-width: 780px){
    #girl-pic{
        display: none;
    }
}