

html {
  font-size: 18px;
}

body {
  color: #8f8f8f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.tm-section-pad-top {
  padding-top: 135px;
}

.tm-text-primary {
  color: #3496d8;
}


.tm-btn-primary {
  color: white;
  background-color: #3496d8;
  padding: 14px 35px;
  border-radius: 30px;
}



/* About Us */

.tm-section-title {
  font-size: 2.6rem;
  font-weight: normal;
}

.tm-intro-text {
  font-size: 1.2rem;
  line-height: 1.4;
}

.tm-icon {
  display: block;
  margin-bottom: 55px;
  color: #3496d8;
}

/* Work */

.tm-work-description {
  max-width: 650px;
  width: 100%;
  font-size: 1.0rem;
}


